textarea {
    min-height: 400px;
}
.divas{
    
    display: flex;
    
    height: 40px;
    
}
.divdiv{
    border: 2px solid;
    border-color: #000000;
    display: flex;
    
    height: 40px;
    
}
.divas:hover{
    background-color: rgb(192, 191, 189);
    border-color:rgb(209, 184, 135);
    
}
.reading{
    background-color: rgb(192, 191, 189);
    width: 1000px;
    height: 40px;
}
p{
    margin:auto ;
    margin-left: 20px;
   
}
