textarea {
    min-height: 400px;
}
#mydiv{
    border: 2px solid;
    border-color: #000000;
    display: flex;
    
}
#mydiv:hover{
    background-color: rgb(192, 191, 189);
    border-color:rgb(209, 184, 135);
    
}
#myp1 ,#myp2{
    text-align: left;
}
#myp3{
    text-align: right;

}

